<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:conf/app.properties</value>
                <value>file:///${user.home}/conf/*.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.d2c"/>

    <import resource="classpath:spring-mybatis-shop.xml"/>
    <import resource="classpath:spring-dubbo-provider.xml"/>
    <import resource="classpath:dubbo-bean.xml"/>

    <import resource="classpath:spring-redis-member.xml"/>
    <import resource="classpath:spring-activemq.xml"/>
    <import resource="classpath:spring-mongo.xml"/>

    <bean id="elasticSearchConfig" class="com.d2c.frame.provider.config.ElasticSearchConfig">
        <constructor-arg name="ES_HOST1" index="0" type="String">
            <value>${es1.host}</value>
        </constructor-arg>
        <constructor-arg name="ES_PORT1" index="1" type="int">
            <value>${es1.port}</value>
        </constructor-arg>
        <constructor-arg name="ES_HOST2" index="2" type="String">
            <value>${es2.host}</value>
        </constructor-arg>
        <constructor-arg name="ES_PORT2" index="3" type="int">
            <value>${es2.port}</value>
        </constructor-arg>
        <constructor-arg name="ES_HOST3" index="4" type="String">
            <value>${es3.host}</value>
        </constructor-arg>
        <constructor-arg name="ES_PORT3" index="5" type="int">
            <value>${es3.port}</value>
        </constructor-arg>
    </bean>

</beans>


