#popup-modal-title {
    position: absolute;
    bottom: 15%;
    left: 50%;
}

#popup-modal-remove {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(//static.d2c.cn/img/promo/bargin/icon_close.png) no-repeat;
    background-size: cover;
    margin-left: -15px;
}

#popup-modal-remove .icon {
    display: none;
}

.rule-title {
    height: 1.3em;
    line-height: 1.3em;
    color: #3F4043;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

.rule-info {
    height: 25em;
    line-height: 150%;
    overflow: scroll;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    -webkit-overflow-scrolling: touch;
}

.popup-rule {
    width: 16em;
    padding: 1em;
    background: #FFF url(//static.d2c.cn/img/promo/bargin/alert_ruler.png);
    background-size: cover;
    border-radius: 1em;
}

.bargain-help-content {
    width: 16em;
    padding: 2em 1em;
    text-align: center;
    border-radius: 0.6em;
    background: #FFF url(//static.d2c.cn/img/promo/bargin/success_bg.jpg) top center no-repeat;
    background-size: 50%;
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}

.popup-help-success-info {
    padding: 1em 0;
    text-align: center;
    font-size: 0.8em;
}

.popup-help-success-info p {
    font-size: 1.4em;
    font-weight: bold;
}

.popup-help-success-info i {
    display: block;
    margin: -6em auto 0.5em auto;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: url(//static.d2c.cn/img/promo/bargin/success_long.jpg) center no-repeat;
    background-size: 105%
}

.popup-text {
    line-height: 150%;
    text-align: center;
    padding: 0.6em 0 1.2em 0;
    font-weight: bold;
    font-size: 1.2em;
}

.mobile-input {
    border-radius: 0;
    border: 1px solid #000;
    text-align: center;
    padding: 0.6em 0.6em 0.4em 0.6em;
    line-height: 1.2em;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.sms-code {
    position: relative;
    margin: 1em 0
}

.sms-code input {
    position: absolute;
    left: -10000px;
    opacity: 0
}

.sms-code ul {
    display: flex;
    justify-content: space-around
}

.sms-code ul li {
    border: 1px solid #999;
    border-radius: 3px;
    width: 2em;
    height: 2em;
    line-height: 2.2em;
    font-weight: bold;
    font-size: 1.6em;
}

.bargain-help-content .button-black {
    border: 1px solid #000;
    font-size: 1em;
    line-height: 2.6em;
    height: 2.6em;
}

.bargin-section {
    background: #FFF;
}

.bargin-top {
    position: relative;
}

.bargin-productinfo .barpro-title {
    padding: 8px 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
    line-height: 26px;
}

.bar-times {
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: relative;
}

.bar-times.on {
    background: url(//static.d2c.cn/img/promo/bargin/bg_timetip.png) no-repeat;
    background-size: cover;
}

.bar-times.off {
    background: url(//static.d2c.cn/img/promo/bargin/bg_timetip_gry.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFF;
}

.bar-times span:first-child {
    color: #FFF;
    padding: 0 5px 0 15px
}

.bar-times .n-time {
    background: url(//static.d2c.cn/img/promo/bargin/bg_timeshow.png) no-repeat;
    background-size: cover;
    margin: -3px 5px 0;
    width: 25px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    color: #F8E71C;
}

.bar-times .k-time {
    color: #D8D8D8;
}

.bargin-content {
    margin: 20px 10px 0;
    padding: 10px 10px 30px 10px;
    box-shadow: 0 2px 6px rgba(35, 36, 29, .3);
}

.bargin-content .pro-price {
    justify-content: space-between;
    height: 57px;
}

.bargin-content .o-price p:first-child {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    line-height: 16px;
}

.bargin-content .o-price p:last-child {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.bargin-size {
    border: 1px solid #E6EAF2;
    margin: 20px 10px 0;

}

.bargin-size .c-title th {
    border-right: 1px solid #E6EAF2;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #F6F5F5;
    font-size: 14px;
    width: 110px
}

.bargin-size .c-title tr {
    border-bottom: 1px solid #E6EAF2;
}

.bargin-size .c-title tr:last-child {
    border: none;
}

.bargin-size .c-title td {
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.bargin-detail .t-title {
    position: relative;
    margin: 20px 0 15px;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
}

.bargin-detail .t-title:after {
    position: absolute;
    height: 1px;
    width: 100%;
    background: #E6EAF2;
    z-index: 1;
    content: '';
    top: 9px;
}

.bargin-detail .t-title span {
    display: block;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    background: #FFF;
    z-index: 2;
}

.bargin-button {
    position: fixed;
    z-index: 10;
    height: 48px;
    padding: 5px;
    box-sizing: border-box;
    background: #FFF;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E6EAF2
}

.bargin-button .c-strong {
    color: #F23365;
    font-size: 24px;
    font-weight: bold;
}

.bargin-button .fh {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 2px;
}

.bargin-button .bargin-sue button {
    padding: 0 1.5em;
    min-width: 7em;
    height: 38px;
    line-height: 38px;
    color: #232427;
    text-align: center;
    display: inline-block;
    border: 1px solid #232427;
    background: #FFF;
    font-size: 14px;
}

.bargin-nav {
    height: 35px;
    text-align: center;
    margin-top: 20px;
}

.bargin-nav .nav-items {
    text-align: center;
    padding: 8px 0;
    color: rgba(0, 0, 0, .54);
    display: inline-block;
}

.bargin-nav .nav-items.on {
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #232427;
}

.mybargin-list .mybargin-item {
    height: 55px;
    border-bottom: 1px solid #E6EAF2;
    justify-content: space-between;
    padding: 7.5px 20px;
}

.mybargin-list .mybargin-item .r-time {
    text-align: right;
    font-size: 12px;
    color: rgba(0, 0, 0, .38);
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    width: 100%;
}

.mybargin-list .usrinfo {
    justify-content: space-between;
    height: 30px;
    color: #222;
}

.mybargin-list .usrinfo img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mybargin-list .user-pic span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.alert-alert-sure {
    width: 120px;
    height: 40px;
    background: #232427;
    color: #FFF;
    text-align: center;
    font-sise: 16px;
    line-height: 40px;
    border: 0;
}

.bargin-top .brule {
    display: block;
    position: absolute;
    width: 75px;
    height: 30px;
    top: 15px;
    right: 0;
    background: url(//static.d2c.cn/img/promo/bargin/icon_helper.png) no-repeat;
    background-size: cover;
}

.greytips {
    padding: 10px 0 10px 30px;
    background: #5b606F;
    color: #FFF;
    line-height: 20px;
}

.overpromotion {
    width: 200px;
    height: 40px;
    background: #232427;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    color: #FFF;
}

.progress-bar {
    position: relative;
    background: #CCC;
    width: 100%;
    margin: auto;
    height: 8px;
    border-radius: 8px;
}

.progress-act-bar {
    position: relative;
    background: url(//static.d2c.cn/img/promo/bargin/tip_color.png);
    background-size: cover;
    height: 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
    width: 0;
}

.progress-act-bar .progress-tip {
    position: absolute;
    top: 15px;
    right: -20px;
    width: 40px;
    height: 18px;
    line-height: 20px;
    background: #F23365;
    color: #FFF;
    font-size: 10px;
    text-align: center;
}

.progress-act-bar .progress-tip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -6px;
    top: -4px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 4px solid #F23365;
}

.progress-act-bar .progress-tip.begin {
    right: -35px;
}

.progress-act-bar .progress-tip.begin:after {
    left: 8px;
}

.progress-act-bar .progress-tip.end {
    right: -10px;
}

.progress-act-bar .progress-tip.end:after {
    left: auto;
    right: 5px;
}

.bg_page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    display: none;
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(10px);
}

.bg_page .web_bg {
    position: absolute;
    width: 235px;
    height: 175px;
    right: 15px;
    z-index: 3;
    background-image: url(//static.d2cmall.com/img/promo/bargin/mark_guide_shar.png);
    background-size: cover;
}

.alertsuccess p {
    line-height: 20px;
    text-align: left;
}

.alertsuccess input, .usercode input {
    width: 210px;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 15px 0 15px;
    border: 1px solid rgba(23, 24, 27, .54);
    color: rgba(0, 0, 0, .38);
    padding-left: 16px;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .38);
}

.alert-alert-sure.disabled {
    background: rgba(23, 24, 27, .38);
    color: rgba(255, 255, 255, .7)
}

.drawer_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    overflow: hidden;
    z-index: 99;
    color: #fff;
}

.drawer_attr_box {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    overflow: visible;
}

.close_icon_v {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    color: #212121;
    z-index: 101;
}

.close_icon {
    width: 15px;
    height: 15px;
}

.drawer_title {
    font-size: 16px;
    padding: 10px 0 20px;
    font-weight: 600;
}

.drawer_attr_content {
    padding: 0 15px;
    height: 300px;
    overflow-y: scroll;
}

.product-sku a {
    border-color: #999 !important;
    color: #999 !important;
    line-height: 2.3em !important;
    padding: 0 1em !important;
}

.product-sku a.selected {
    border-color: #000 !important;
    background: #000 !important;
    color: #FFF !important;
}

.num-crease-wrap {
    line-height: 2em !important;
    border: none !important;
}

.num-crease-wrap .num-input {
    border: none !important;
    font-weight: bold !important;
    width: auto !important;
}

.bargin-productinfo .pro-go {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 80px;
    z-index: 9
}

.marquee {
    position: absolute;
    left: 0.6em;
    right: 0;
    bottom: 0.6em;
    height: 6.6em;
    overflow: hidden;
    z-index: 2
}

.marquee-list {
    position: absolute;
    top: 0;
    left: 0;
}

.marquee-list > div {
    display: table;
    margin: 0.3em 0;
    line-height: 1.6em;
    padding: 0.4em 1.2em 0.4em 0.4em;
    font-size: 0.8em;
    border-radius: 1.6em;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
}

.marquee-list > div img {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.6em;
}

.marquee-list > div .name {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.share-tip {
    position: absolute;
    top: -2.4em;
    right: 12%;
    line-height: 1.9em;
    height: 2em;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
    padding: 0.3em 0.8em 0 0.8em;
    border-radius: 0.2em;
}

.share-tip:after {
    content: ' ';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.92em;
    width: 0;
    height: 0;
    border-top: 0.5em solid rgba(0, 0, 0, 0.7);
    border-left: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}