<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.order.dao.CollageOrderMapper">
    <resultMap id="baseMap" type="com.d2c.order.model.CollageOrder">
        <result property="sn" column="sn"/>
        <result property="groupId" column="group_id"/>
        <result property="status" column="status"/>
        <result property="productId" column="product_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="loginCode" column="login_code"/>
        <result property="headPic" column="head_pic"/>
        <result property="type" column="type"/>
        <result property="addressId" column="address_id"/>
        <result property="reciver" column="reciver"/>
        <result property="contact" column="contact"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="address" column="address"/>
        <result property="paymentId" column="payment_id"/>
        <result property="paymentType" column="payment_type"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="paySn" column="pay_sn"/>
        <result property="payTime" column="pay_time"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="cashAmount" column="cash_amount"/>
        <result property="giftAmount" column="gift_amount"/>
        <result property="promotionId" column="promotion_id"/>
        <result property="productImage" column="product_image"/>
        <result property="productName" column="product_name"/>
        <result property="sp1" column="sp1"/>
        <result property="sp2" column="sp2"/>
        <result property="partnerId" column="partner_id"/>
        <result property="closeTime" column="close_time"/>
        <result property="closeMemo" column="close_memo"/>
        <result property="appTerminal" column="app_terminal"/>
        <result property="appVersion" column="app_version"/>
        <result property="drawee" column="drawee"/>
        <result property="shippingRates" column="shipping_rates"/>
        <result property="refundPaySn" column="refund_pay_sn"/>
        <result property="refundPaymentType" column="refund_payment_type"/>
        <result property="refundMemo" column="refund_memo"/>
        <result property="refundTime" column="refund_time"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="groupSn" column="group_sn"/>
    </resultMap>

    <select id="findBySn" resultMap="baseMap">
		select * from o_collage_order
		where sn=#{sn}
		limit 0,1
	</select>

    <select id="findOneByGroupId" resultMap="baseMap">
		select * from
		o_collage_order
		where group_id=#{groupId} and status=8 and type=1
		limit 0,1
	</select>

    <select id="findByGroupId" resultMap="baseMap">
		select * from
		o_collage_order
		where group_id=#{groupId} and status!=-2
		limit 0,100
	</select>

    <select id="findByMemberIdAndGroupId" resultMap="baseMap">
		select * from
		o_collage_order
		where group_id=#{groupId} and member_id=#{memberId} and
		status!=-2
		limit 0,1
	</select>

    <select id="findBySnAndMemberId" resultMap="baseMap">
		select * from
		o_collage_order
		where sn=#{sn} and member_id=#{memberId}
		limit 0,1
	</select>

    <select id="findByIdAndMemberId" resultMap="baseMap">
		select * from
		o_collage_order
		where id=#{id} and member_id=#{memberId}
		limit 0,1
	</select>

    <select id="findUnpayByPromotion" resultMap="baseMap">
		select * from
		o_collage_order
		where promotion_id=#{promotionId} and
		member_id=#{memberId} and status=1
		limit 0,1
	</select>

    <select id="findExistProcess" resultMap="baseMap">
		select * from
		o_collage_order
		where promotion_id=#{promotionId} and
		member_id=#{memberId} and status
		in(1,4)
		limit 0,1
	</select>

    <select id="findBySearch" resultMap="baseMap">
        SELECT * FROM o_collage_order WHERE 1=1
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
        ORDER BY create_date DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearch" resultType="int">
        SELECT count(1) FROM
        o_collage_order WHERE 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.promotionId!= null">
            AND promotion_id=#{searcher.promotionId}
        </if>
        <if test="searcher.memberId!= null">
            AND member_id=#{searcher.memberId}
        </if>
        <if test="searcher.status!= null">
            AND status=#{searcher.status}
        </if>
        <if test="searcher.beginCreateDate != null">
            AND create_date &gt;= #{searcher.beginCreateDate}
        </if>
        <if test="searcher.endCreateDate != null">
            AND create_date &lt;= #{searcher.endCreateDate}
        </if>
        <if test="searcher.sn!=null and searcher.sn!=''">
            AND sn=#{searcher.sn}
        </if>
        <if test="searcher.productName!=null and searcher.productName!=''">
            AND product_name like
            CONCAT('%',#{searcher.productName},'%')
        </if>
        <if test="searcher.paymentType!=null">
            AND payment_type=#{searcher.paymentType}
        </if>
        <if test="searcher.type!=null">
            AND type=#{searcher.type}
        </if>
        <if test="searcher.groupId!=null">
            AND group_id=#{searcher.groupId}
        </if>
        <if test="searcher.loginCode!=null and searcher.loginCode!=''">
            AND login_code=#{searcher.loginCode}
        </if>
        <if
                test="searcher.orderStatus!= null and searcher.orderStatus.length &gt; 0">
            AND status IN
            <foreach collection="searcher.orderStatus" item="itemStatus"
                     index="index" open="(" close=")" separator=",">
                <if test="itemStatus!= null">
                    #{itemStatus}
                </if>
            </foreach>
        </if>
        <if test="searcher.groupSn!=null and searcher.groupSn!=''">
            AND group_sn=#{searcher.groupSn}
        </if>
    </sql>

    <update id="doPaySuccess">
        update o_collage_order set
        status=4, pay_sn=#{paySn},
        pay_time=now(),
        payment_id=#{paymentId}, payment_type=#{paymentType},
        payment_amount=#{paymentAmount}
        <if test="cashAmount!= null">
            ,cash_amount=#{cashAmount}
        </if>
        <if test="giftAmount!= null">
            ,gift_amount=#{giftAmount}
        </if>
        where
        sn=#{orderSn} and status=1
    </update>

    <update id="doClose">
		update o_collage_order set
		status=-2,
		close_time=now(), close_memo=#{closeMemo}
		where id=#{id} and
		status=1
	</update>

    <update id="doRefund">
		update o_collage_order set
		status=-1, close_time=now()
		where id=#{id} and status=4
	</update>

    <update id="doCloseRefund">
		update o_collage_order set
		status=-1,
		close_time=now(),pay_sn=#{paySn},
		pay_time=now(),
		payment_id=#{paymentId}, payment_type=#{paymentType},
		payment_amount=#{paymentAmount}
		where id=#{id} and status=-2
	</update>

    <update id="doSuccess">
		update o_collage_order set
		status=8, modify_date=now()
		where id=#{id} and status=4
	</update>

    <update id="doRefundSuccess">
		update o_collage_order set
		status=-8,
		modify_date=now(), last_modify_man=#{operator},
		refund_time=now(),
		refund_memo=#{refundMemo},
		refund_payment_type=#{refundPaymentType},
		refund_pay_sn=#{refundPaySn}
		where id=#{id} and status IN(-1,4)
	</update>

    <update id="updateType">
		update o_collage_order set type=#{type}
		where id=#{id}
	</update>

</mapper>