<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.order.dao.ComplaintTrackMapper">
    <resultMap id="baseMap" type="com.d2c.order.model.ComplaintTrack">
        <result property="trackStatus" column="track_status"/>
        <result property="callBackDate" column="call_back_date"/>
        <result property="dealContent" column="deal_content"/>
        <result property="dealDate" column="deal_date"/>
        <result property="complaintId" column="complaint_id"/>
        <result property="traceType" column="trace_type"/>
        <result property="memo" column="memo"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="findTrackByComplaintId" resultMap="baseMap">
		SELECT * FROM o_complaint_track WHERE complaint_id = #{complaintId} ORDER BY modify_date ASC
	</select>

</mapper>