<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d2c.order.dao.CouponDefRelationMapper">

    <resultMap id="baseMap" type="com.d2c.order.model.CouponDefRelation">
        <result property="type" column="type"/>
        <result property="couponDefId" column="coupon_def_id"/>
        <result property="targetId" column="target_id"/>
        <result property="exclude" column="exclude"/>
        <result property="code" column="code"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
    </resultMap>

    <resultMap id="productMap" type="com.d2c.product.model.Product">
        <result property="id" column="id"/>
        <result property="designerId" column="designer_id"/>
        <result property="designerName" column="designer_name"/>
        <result property="designerCode" column="designer_code"/>
        <result property="seriesId" column="series_id"/>
        <result property="topCategoryId" column="top_category_id"/>
        <result property="productCategoryId" column="product_category_id"/>
        <result property="saleCategory" column="sale_category"/>
        <result property="productSaleType" column="product_sale_type"/>
        <result property="productSellType" column="product_sell_type"/>
        <result property="productTradeType" column="product_trade_type"/>
        <result property="inernalSn" column="inernal_sn"/>
        <result property="name" column="name"/>
        <result property="subTitle" column="sub_title"/>
        <result property="introPic" column="intro_pic"/>
        <result property="remark" column="remark"/>
        <result property="seo" column="seo"/>
        <result property="externalSn" column="external_sn"/>
        <result property="originalName" column="original_name"/>
        <result property="topCategory" column="top_category"/>
        <result property="productCategory" column="product_category"/>
        <result property="salesproperty" column="salesproperty"/>
        <result property="compositionId" column="composition_id"/>
        <result property="tags" column="tags"/>
        <result property="subscribe" column="subscribe"/>
        <result property="cart" column="cart"/>
        <result property="cod" column="cod"/>
        <result property="ad" column="ad"/>
        <result property="topical" column="topical"/>
        <result property="timing" column="timing"/>
        <result property="search" column="search"/>
        <result property="mark" column="mark"/>
        <result property="upMarketDate" column="up_market_date"/>
        <result property="downMarketDate" column="down_market_date"/>
        <result property="upMan" column="up_man"/>
        <result property="downMan" column="down_man"/>
        <result property="sort" column="sort"/>
        <result property="syncStamp" column="sync_stamp"/>
        <result property="status" column="status"/>
        <result property="minPrice" column="min_price"/>
        <result property="maxPrice" column="max_price"/>
        <result property="originalPrice" column="original_price"/>
        <result property="aPrice" column="a_price"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
        <result property="after" column="after"/>
        <result property="estimateDate" column="estimate_date"/>
        <result property="estimateDay" column="estimate_day"/>
        <result property="video" column="video"/>
        <result property="afterMemo" column="after_memo"/>
        <result property="recom" column="recom"/>
        <result property="operRecom" column="oper_recom"/>
        <result property="firstRatio" column="first_ratio"/>
        <result property="secondRatio" column="second_ratio"/>
        <result property="grossRatio" column="gross_ratio"/>
        <result property="goodPromotionId" column="good_promotion_id"/>
        <result property="orderPromotionId" column="order_promotion_id"/>
        <result property="flashPromotionId" column="flash_promotion_id"/>
        <result property="flashPrice" column="flash_price"/>
        <result property="costPrice" column="cost_price"/>
        <result property="gpSort" column="gp_sort"/>
        <result property="opSort" column="op_sort"/>
        <result property="fpSort" column="fp_sort"/>
    </resultMap>

    <resultMap id="couponMap" type="com.d2c.order.model.CouponDef">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="last_modify_man" property="lastModifyMan"/>
        <result column="type" property="type"/>
        <result column="manager_status" property="managerStatus"/>
        <result column="name" property="name"/>
        <result column="enable_date" property="enableDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="amount" property="amount"/>
        <result column="need_amount" property="needAmount"/>
        <result column="quantity" property="quantity"/>
        <result column="remark" property="remark"/>
        <result column="claim_limit" property="claimLimit"/>
        <result column="active_day" property="activeDay"/>
        <result column="check_association" property="checkAssociation"/>
        <result column="code" property="code"/>
        <result column="exclude" property="exclude" jdbcType="BIT"/>
        <result column="wx_card_id" property="wxCardId"/>
        <result column="redirect_url" property="redirectUrl"/>
        <result column="sub_title" property="subTitle"/>
        <result column="cipher" property="cipher"/>
        <result column="claimed" property="claimed"/>
        <result column="pic" property="pic"/>
        <result column="enable" property="enable"/>
        <result column="random" property="random"/>
        <result column="transfer" property="transfer"/>
        <result column="creator" property="creator"/>
        <result column="active_hour" property="activeHour"/>
        <result column="claim_start" property="claimStart"/>
        <result column="claim_end" property="claimEnd"/>
    </resultMap>

    <select id="findByCidAndTid" resultMap="baseMap">
		SELECT * FROM
		o_coupon_def_relation
		WHERE target_id=#{targetId} AND
		coupon_def_id=#{couponDefId} AND
		type=#{type} limit 0,1
	</select>

    <select id="findByCidAndTids" resultMap="baseMap">
        SELECT * FROM
        o_coupon_def_relation
        WHERE coupon_def_id=#{couponDefId} AND type=#{type}
        <if test="targetIds!= null and targetIds.size &gt; 0">
            AND target_id IN
            <foreach collection="targetIds" item="item" index="index" open="("
                     close=")" separator=",">
                <if test="item!= null and item!=''">
                    #{item}
                </if>
            </foreach>
        </if>
        LIMIT 0,500
    </select>

    <delete id="deleteByCidAndTid">
		DELETE FROM o_coupon_def_relation
		WHERE
		target_id=#{targetId} AND coupon_def_id=#{couponDefId} AND
		type=#{type}
	</delete>

    <delete id="deleteByTargetId">
		DELETE FROM o_coupon_def_relation
		WHERE
		target_id=#{targetId} AND type=#{type}
	</delete>

    <select id="findDesignerByDefId" resultMap="baseMap">
		SELECT * FROM
		o_coupon_def_relation
		WHERE coupon_def_id=#{couponDefId} AND
		type='DESIGNER' limit 0,500
	</select>

    <select id="countBySearcher" resultType="int">
        SELECT count(p.id)
        FROM
        p_product p,o_coupon_def_relation c
        WHERE
        p.id=c.target_id AND
        c.coupon_def_id=#{defineId} AND c.type='PRODUCT'
        <include refid="productSearcher"/>
    </select>

    <select id="findBySearcher" resultMap="productMap">
        SELECT p.* FROM p_product
        p,o_coupon_def_relation c
        WHERE p.id=c.target_id
        AND
        c.coupon_def_id=#{defineId} AND c.type='PRODUCT'
        <include refid="productSearcher"/>
        ORDER BY
        p.up_market_date DESC,p.create_date DESC
        LIMIT
        #{pager.startNumber},
        #{pager.pageSize}
    </select>

    <sql id="productSearcher">
        <if test="searcher != null">
            <if test="searcher.designerId != null">
                AND p.designer_id = #{searcher.designerId}
            </if>
            <if test="searcher.name!= null and searcher.name!=''">
                AND p.name=#{searcher.name}
            </if>
            <if test="searcher.inernalSn != null">
                AND p.inernal_sn = #{searcher.inernalSn}
            </if>
        </if>
    </sql>

    <select id="findCouponsByDesigner" resultMap="couponMap">
		SELECT c.* FROM o_coupon_def c, o_coupon_def_relation r 
		WHERE r.coupon_def_id=c.id
		AND r.type='DESIGNER' AND r.target_id=#{designerId} 
		AND c.check_association='DESIGNER' AND c.type!='PASSWORD' AND c.exclude=0
		AND c.enable=1 AND c.free=1 AND c.claim_start &lt; NOW() AND c.claim_end &gt; NOW() 
		LIMIT 0,5
	</select>

    <select id="findCouponsByProduct" resultMap="couponMap">
		SELECT c.* FROM o_coupon_def c, o_coupon_def_relation r 
		WHERE r.coupon_def_id=c.id
		AND r.type='PRODUCT' AND r.target_id=#{productId} 
		AND c.check_association='PRODUCT' AND c.type!='PASSWORD' AND c.exclude=0
		AND c.enable=1 AND c.free=1 AND c.claim_start &lt; NOW() AND c.claim_end &gt; NOW()
		LIMIT 0,5
	</select>

    <select id="findCouponsByDesignerExclude" resultMap="couponMap">
		SELECT c.* FROM o_coupon_def c ,o_coupon_def_relation r 
		WHERE r.coupon_def_id=c.id
		AND r.type='DESIGNER' AND r.target_id!=#{designerId}
		AND c.enable=1 AND c.claim_start &lt; NOW() AND c.claim_end &gt; NOW() AND c.exclude=1
		limit 0,5
	</select>

</mapper>