<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.order.dao.PartnerWithholdMapper">
    <resultMap id="baseMap" type="com.d2c.order.model.PartnerWithhold">
        <result property="sn" column="sn"/>
        <result property="partnerId" column="partner_id"/>
        <result property="amount" column="amount"/>
        <result property="memo" column="memo"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
    </resultMap>
</mapper>