<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.order.dao.WithdrawCashMapper">
    <resultMap id="baseMap" type="com.d2c.order.model.WithdrawCash">
        <result property="id" column="id"/>
        <result property="sn" column="sn"/>
        <result property="status" column="status"/>
        <result property="memberId" column="member_id"/>
        <result property="accountId" column="account_id"/>
        <result property="billId" column="bill_id"/>
        <result property="cashAmount" column="cash_amount"/>
        <result property="cardId" column="card_id"/>
        <result property="cardAccount" column="card_account"/>
        <result property="cardHolder" column="card_holder"/>
        <result property="payChannel" column="pay_channel"/>
        <result property="paySn" column="pay_sn"/>
        <result property="actualPay" column="actual_pay"/>
        <result property="giftPay" column="gift_pay"/>
        <result property="payer" column="payer"/>
        <result property="payDate" column="pay_date"/>
        <result property="payCreateDate" column="pay_create_date"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="findBySearch" resultMap="baseMap">
        SELECT p.*
        <include refid="joinTableSql"/>
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
        ORDER BY p.create_date DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearch" resultType="int">
        SELECT count(*)
        <include refid="joinTableSql"/>
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="joinTableSql">
        FROM o_withdraw_cash p
        <if test="(searcher.memberName!=null and searcher.memberName!='')
			|| (searcher.memberEmail!=null and searcher.memberEmail!='')
			|| (searcher.memberMobile!=null and searcher.memberMobile!='')">
            ,m_member_info m
        </if>
        <if test="(searcher.account!=null and searcher.account!='')
			|| (searcher.cardHolder!=null and searcher.cardHolder!='')">
            ,m_account a
        </if>
        WHERE 1=1
        <if test="(searcher.memberName!=null and searcher.memberName!='')
			|| (searcher.memberEmail!=null and searcher.memberEmail!='')
			|| (searcher.memberMobile!=null and searcher.memberMobile!='')">
            AND p.member_id=m.id
        </if>
        <if test="(searcher.account!=null and searcher.account!='')
			|| (searcher.cardHolder!=null and searcher.cardHolder!='')">
            AND p.account_id=a.id
        </if>
    </sql>

    <sql id="Searcher">
        <if test="searcher.account!=null and searcher.account!=''">
            AND a.account=#{searcher.account}
        </if>
        <if test="searcher.cardHolder!=null and searcher.cardHolder!=''">
            AND a.card_holder=#{searcher.cardHolder}
        </if>
        <if test="searcher.memberName!=null and searcher.memberName!=''">
            AND m.nick_name =#{searcher.memberName}
        </if>
        <if test="searcher.memberEmail!=null and searcher.memberEmail!=''">
            AND m.email =#{searcher.memberEmail}
        </if>
        <if test="searcher.memberMobile!=null and searcher.memberMobile!=''">
            AND m.mobile =#{searcher.memberMobile}
        </if>
        <if test="searcher.accountId!= null">
            AND p.account_id = #{searcher.accountId}
        </if>
        <if test="searcher.memberId!= null">
            AND p.member_id = #{searcher.memberId}
        </if>
        <if test="searcher.status!= null">
            AND p.status = #{searcher.status}
        </if>
    </sql>

    <update id="confirm">
		UPDATE o_withdraw_cash SET status=1 WHERE id=#{id} AND status=0
	</update>

    <update id="close">
		UPDATE o_withdraw_cash SET status=-1 WHERE id=#{id} AND status in (0,1)
	</update>

    <update id="success" parameterType="com.d2c.order.model.WithdrawCash">
		UPDATE o_withdraw_cash 
		SET status=8,pay_channel=#{payChannel},pay_sn=#{paySn},actual_pay=#{actualPay}
		,pay_date=#{payDate},payer=#{payer},pay_create_date=now()
		WHERE id=#{id} AND status=1
	</update>

    <update id="cancel">
		UPDATE o_withdraw_cash SET status=1 WHERE id=#{id} AND status=8
	</update>

</mapper>