body {
    margin: 0;
    position: relative;
    background: #000 url(img/bg.jpg) center center no-repeat;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.load-slide {
    position: absolute;
    top: 20%;
    z-index: 0;
    left: 50%;
    background: #FFF;
    width: 200px;
    margin-left: -100px;
    line-height: 32px;
    height: 36px;
    padding-top: 6px;
    text-align: center;
    opacity: 0;
    border-radius: 20px;
    font-size: 18px;
}

.load-slide-show {
    opacity: 0.9;
    z-index: 99;
}

.swiper-slide img {
    width: 100%;
}

.mask-tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url(img/orient_tip.png) center center no-repeat;
    opacity: 0;
    z-index: 0;
}

.portrait .mask-tip {
    opacity: 0.8;
    z-index: 99;
}

.swiper-hide-slide {
    width: 0;
    overflow: hidden;
}

.showroom-nav {
    position: absolute;
    top: -90px;
    height: 45px;
    width: 600px;
    padding: 25px 20px 0 20px;
    left: 50%;
    margin-left: -320px;
    z-index: 5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.showroom-nav a {
    display: inline-block;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    width: 16%;
    text-align: center;
    line-height: 55px;
    border-radius: 5px;
}

.showroom-nav a:last-child {
    border: none;
}

.showroom-nav a.current {
    color: #FF6600;
}

.showroom-nav-show {
    top: 0;
}

.letter-nav {
    position: absolute;
    top: 90px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    z-index: 0;
    opacity: 0
}

.letter-nav a {
    display: block;
    float: left;
    margin: 3px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    width: 10%;
    text-align: center;
    line-height: 55px;
    border-radius: 5px;
}

.letter-nav-show {
    opacity: 1;
    z-index: 5;
}

.browser {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 9
}

.browser-nav {
    height: 60px;
    border-bottom: 1px solid #CCC;
}

.browser-nav a {
    display: block;
    line-height: 60px;
    padding: 0 15px;
    font-size: 20px;
    float: left;
}

.browser-cont {
    height: 708px;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.mask-tip, .portrait .mask-tip, .load-slide-show, .showroom-nav-show, .letter-nav-show {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
