<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.logger.dao.DiscountSettingLogMapper">
    <resultMap id="baseMap" type="com.d2c.logger.model.DiscountSettingLog">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="creator" column="creator"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="disType" column="dis_type"/>
        <result property="distributorId" column="distributor_id"/>
        <result property="discountSettingId" column="discount_setting_id"/>
        <result property="targetId" column="target_id"/>
        <result property="memberId" column="member_id"/>
    </resultMap>
</mapper>