<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.logger.dao.RefundLogMapper">
    <resultMap id="baseMap" type="com.d2c.logger.model.RefundLog">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="creator" column="creator"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="logType" column="log_type"/>
        <result property="refundId" column="refund_id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderItemId" column="order_item_id"/>
    </resultMap>
</mapper>