<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.logger.dao.RequisitionLogMapper">
    <resultMap id="baseMap" type="com.d2c.logger.model.RequisitionLog">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="creator" column="creator"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="info" column="info"/>
        <result property="logType" column="log_type"/>
        <result property="requisitionId" column="requisition_id"/>
        <result property="requisitionItemId" column="requisition_item_id"/>
        <result property="requisitionSn" column="requisition_sn"/>
    </resultMap>

    <select id="findByRequisitionId" resultMap="baseMap">
		SELECT * FROM
		log_requisition WHERE requisition_id=#{requisitionId}
		ORDER BY
		create_date DESC
		LIMIT #{pager.startNumber},#{pager.pageSize}
	</select>

    <select id="countByRequisitionId" resultType="Integer">
		SELECT count(id)
		FROM
		log_requisition WHERE requisition_id=#{requisitionId}
	</select>

    <select id="findByRequisitionItemId" resultMap="baseMap">
		SELECT * FROM
		log_requisition WHERE
		requisition_item_id=#{requisitionItemId} OR (requisition_id=#{requisitionId} and requisition_item_id is null) 
		ORDER BY create_date DESC
		LIMIT
		#{pager.startNumber},#{pager.pageSize}
	</select>

    <select id="countByRequisitionItemId" resultType="Integer">
		SELECT
		count(id)
		FROM log_requisition WHERE
		requisition_item_id=#{requisitionItemId} OR (requisition_id=#{requisitionId} and requisition_item_id is null) 
	</select>

    <update id="updateSnByItemIds">
        UPDATE log_requisition SET requisition_sn=#{requisitionSn} WHERE requisition_sn is null AND requisition_item_id
        IN
        <foreach collection="ids" index="index" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>