<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.logger.dao.UpyunTaskMapper">
    <resultMap id="baseMap" type="com.d2c.logger.model.UpyunTask">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="creator" column="creator"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="taskIds" column="task_ids"/>
        <result property="sourceType" column="source_type"/>
        <result property="sourceId" column="source_id"/>
        <result property="video" column="video"/>
        <result property="pic" column="pic"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findByTaskIds" resultMap="baseMap">
		SELECT * FROM upyun_task
		WHERE task_ids=#{taskIds}
	</select>

    <select id="findPicsByTaskIds" resultType="string">
        SELECT pic FROM upyun_task WHERE
        task_ids IN
        <foreach item="taskId" collection="taskIds" separator=","
                 open="(" close=")" index="">
            #{taskId}
        </foreach>
        ORDER BY task_ids IN
        <foreach item="taskId" collection="taskIds" separator=","
                 open="(" close=")" index="">
            #{taskId}
        </foreach>
    </select>
</mapper>