<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.product.dao.BrandTagRelationMapper">
    <resultMap id="baseMap" type="com.d2c.product.model.BrandTagRelation">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id"/>
        <result property="designerId" column="designer_id"/>
        <result property="sort" column="sort"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="findByTagRelationSearch" resultMap="baseMap">
        SELECT * FROM
        p_brand_tag_relation WHERE 1=1
        <include refid="Searcher"/>
        ORDER BY sort DESC
        LIMIT
        #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countByTagRelationSearch" resultType="int">
        SELECT COUNT(*) FROM
        p_brand_tag_relation WHERE 1=1
        <include refid="Searcher"/>
    </select>

    <sql id="Searcher">
        <if test="searcher.tagId!=null">
            and tag_id=#{searcher.tagId}
        </if>
        <if test="searcher.designerId!=null">
            and designer_id=#{searcher.designerId}
        </if>
        <if test="searcher.code!=null and searcher.code!=''">
            and designer_id in (SELECT d.id FROM p_brand d WHERE
            d.`code`=#{searcher.code})
        </if>
    </sql>

    <select id="findByTagIdAndDesignerId" resultMap="baseMap">
		SELECT * FROM p_brand_tag_relation WHERE
		tag_id=#{tagId} AND
		designer_id=#{designerId}
		LIMIT 0,1
	</select>

    <delete id="deleteByTagIdAndDesignerId">
		DELETE FROM p_brand_tag_relation WHERE
		tag_id=#{tagId} AND
		designer_id=#{designerId}
	</delete>

    <delete id="deleteByTagId">
		DELETE FROM p_brand_tag_relation where tag_id
		=#{tagId}
	</delete>

    <delete id="deleteByDesignerId">
		DELETE FROM p_brand_tag_relation where designer_id
		=#{designerId}
	</delete>

    <update id="updateSort">
		UPDATE p_brand_tag_relation SET sort=#{sort} WHERE
		designer_id
		=#{designerId} AND tag_id=#{tagId}
	</update>

</mapper>