<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.product.dao.PromotionMapper">
    <resultMap id="baseMap" type="com.d2c.product.model.Promotion">
        <result property="id" column="id"/>
        <result property="promotionType" column="promotion_type"/>
        <result property="promotionScope" column="promotion_scope"/>
        <result property="solution" column="solution"/>
        <result property="name" column="name"/>
        <result property="enable" column="enable"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="timing" column="timing"/>
        <result property="customCode" column="custom_code"/>
        <result property="mobileCode" column="mobile_code"/>
        <result property="description" column="description"/>
        <result property="display" column="display"/>
        <result property="deleted" column="deleted"/>
        <result property="banner" column="banner"/>
        <result property="whole" column="whole"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
        <result property="pcBanner" column="pc_banner"/>
        <result property="wapBanner" column="wap_banner"/>
        <result property="smallPic" column="small_pic"/>
        <result property="advance" column="advance"/>
        <result property="prefix" column="prefix"/>
        <result property="backgroundUrl" column="background_url"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandPic" column="brand_pic"/>
        <result property="priceBackPic" column="price_back_pic"/>
    </resultMap>

    <resultMap id="simpleMap" type="com.d2c.product.model.Promotion">
        <result property="id" column="id"/>
        <result property="promotionType" column="promotion_type"/>
        <result property="promotionScope" column="promotion_scope"/>
        <result property="solution" column="solution"/>
        <result property="name" column="name"/>
        <result property="enable" column="enable"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="timing" column="timing"/>
        <result property="description" column="description"/>
        <result property="display" column="display"/>
        <result property="deleted" column="deleted"/>
        <result property="whole" column="whole"/>
        <result property="pcBanner" column="pc_banner"/>
        <result property="wapBanner" column="wap_banner"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="smallPic" column="small_pic"/>
        <result property="advance" column="advance"/>
        <result property="prefix" column="prefix"/>
        <result property="backgroundUrl" column="background_url"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandPic" column="brand_pic"/>
        <result property="priceBackPic" column="price_back_pic"/>
    </resultMap>

    <select id="findSimpleById" resultMap="simpleMap">
		SELECT *
		FROM p_promotion
		WHERE id=#{id}
	</select>

    <select id="findByTagId" resultMap="baseMap">
        SELECT
        p.id, p.promotion_type, p.promotion_scope, p.solution, p.name, p.wap_banner, p.pc_banner,
        p.enable, p.start_time, p.end_time, p.timing, p.display, p.deleted, p.whole,
        p.create_date, p.description
        FROM p_promotion p,p_promotion_tag_relation r where 1=1 AND p.id=r.promotion_id AND r.tag_id=#{tagId}
        <if test="enable!=null">
            and p.enable=#{enable}
            <if test="enable">
                AND (now() between p.start_time and p.end_time)
            </if>
        </if>
        ORDER BY r.sort DESC, p.start_time DESC, p.end_time DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countByTagId" resultType="int">
        SELECT count(*)
        FROM p_promotion p,p_promotion_tag_relation r where 1=1 AND p.id=r.promotion_id AND r.tag_id=#{tagId}
        <if test="enable!=null">
            AND p.enable=#{enable}
            <if test="enable">
                AND (now() between p.start_time and p.end_time)
            </if>
        </if>
    </select>

    <sql id="simpleEntityColumns">
		id, promotion_type, promotion_scope, solution, name, wap_banner, pc_banner,
		enable, start_time, end_time, timing, display, deleted, whole, 
		create_date, description,brand_pic,price_back_pic
	</sql>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT
        <include refid="simpleEntityColumns"/>
        FROM p_promotion
        WHERE deleted=0
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
        ORDER BY create_date DESC,start_time DESC, end_time DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearcher" resultType="int">
        SELECT count(*)
        FROM p_promotion
        WHERE deleted=0
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.id!=null">
            AND id=#{searcher.id}
        </if>
        <if test="searcher.enable!=null">
            AND enable=#{searcher.enable}
        </if>
        <if test="searcher.whole!=null">
            AND whole=#{searcher.whole}
        </if>
        <if test="searcher.timing!=null">
            AND timing=#{searcher.timing}
        </if>
        <if test="searcher.tagId!=null">
            AND exists(select 1 from p_promotion_tag_relation r where
            p_promotion.id=r.promotion_id AND r.tag_id=#{searcher.tagId})
        </if>
        <if test="searcher.promotionType!=null">
            AND promotion_type=#{searcher.promotionType}
        </if>
        <if test="searcher.promotionScope!=null">
            AND promotion_scope=#{searcher.promotionScope}
        </if>
        <if test="searcher.name!=null">
            AND name LIKE CONCAT('%',#{searcher.name},'%')
        </if>
        <if test="searcher.beginEndTime != null">
            AND end_time &gt;= #{searcher.beginEndTime}
        </if>
        <if test="searcher.endEndTime != null">
            AND end_time &lt;= #{searcher.endEndTime}
        </if>
        <if test="searcher.beginStartTime != null">
            AND start_time &gt;= #{searcher.beginStartTime}
        </if>
        <if test="searcher.endStartTime != null">
            AND start_time &lt;= #{searcher.endStartTime}
        </if>
        <if test="searcher.brandId!=null">
            AND brand_id=#{searcher.brandId}
        </if>
        <if test="searcher.bindBrand!=null and searcher.bindBrand">
            AND brand_id IS NOT NULL AND brand_pic IS NOT NULL
        </if>
    </sql>

    <update id="delete">
		UPDATE p_promotion SET deleted=1,modify_date=now()
		WHERE id = #{id}
	</update>

    <update id="doMark">
		UPDATE p_promotion
		SET enable = #{enable}, modify_date=now()
		WHERE id=#{id}
	</update>

    <update id="doTiming">
		UPDATE p_promotion
		SET timing = #{timing}
		WHERE id =#{id}
	</update>

</mapper>