@font-face {
    font-family: "iconfont";
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-daifahuo {
    background: url(//static.d2c.cn/common/nm/img/icon_myoder_undeliver@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-daifukuan {
    background: url(//static.d2c.cn/common/nm/img/icon_myoder_unpay@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-daishouhuo {
    background: url(//static.d2c.cn/common/nm/img/icon_myorder_unreceive@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-daipingjia {
    background: url(//static.d2c.cn/common/nm/img/icon_myorder_unevaluate@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-yishouhuo {
    background: url(//static.d2c.cn/common/nm/img/icon_myorder_receive@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-tuikuantuihuo {
    background: url(//static.d2c.cn/common/nm/img/icon_myorder_service@3x.png) no-repeat;
    background-size: 100%;
    width: 1.2em;
    height: 1.2em;
}

.icon-huiyuanka:before {
    content: "\e65";
}

.icon-jifen:before {
    content: "\e66";
}

.icon-youhuiquan:before {
    content: "\e67";
}

.icon-hongbao:before {
    content: "\e68";
}

.icon-liwuhuodong:before {
    content: "\e69";
}

.icon-dingwei:before {
    content: "\e6a";
}

.icon-heart:before {
    content: "\e6b";
}

.icon-heart-o:before {
    content: "\e6c";
}

.summary-datas {
    background: #FFF;
    margin: .6em;
    padding: .6em;
}

.data-mask {
    position: absolute;
    width: 100%;
    height: 9em;
    line-height: 9em;
    text-align: center;
    color: #FFF;
    font-size: .875em;
    background: rgba(0, 0, 0, .7);
}

.data-box {
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: space-around;
}

.data-box .data-item {
    flex: 1;
    text-align: center;
    margin: 1em 0;
    line-height: 2;
}

.data-box .data-special {
    padding: 0 2em;
    line-height: 2em;
    border-radius: 5px;
    font-size: .875em;
}

.cash-detail {
    padding-left: 1.5em;
    line-height: 1.5;
}

