<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d2c.content.dao.SectionMapper">
    <resultMap id="baseMap" type="com.d2c.content.model.Section">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="moduleId" column="module_id"/>
        <result property="title" column="title"/>
        <result property="visible" column="visible"/>
        <result property="type" column="type"/>
        <result property="sequence" column="sequence"/>
        <result property="properties" column="properties"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
        <result property="fixed" column="fixed"/>
        <result property="more" column="more"/>
        <result property="moreUrl" column="more_url"/>
        <result property="memberLevel" column="member_level"/>
    </resultMap>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT * FROM v_section
        WHERE 1=1
        <if test="searcher!=null">
            <include refid="searcher"/>
        </if>
        ORDER BY sequence DESC,id ASC
        LIMIT
        #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearcher" resultType="int">
        SELECT COUNT(id) FROM v_section
        WHERE 1=1
        <if test="searcher!=null">
            <include refid="searcher"/>
        </if>
    </select>

    <sql id="searcher">
        <if test="searcher.moduleId!=null">
            AND module_id=#{searcher.moduleId}
        </if>
        <if test="searcher.title!=null and searcher.title!=''">
            AND title LIKE
            CONCAT('%',#{searcher.title},'%')
        </if>
        <if test="searcher.type!=null">
            AND type=#{searcher.type}
        </if>
    </sql>

    <delete id="delete">
		DELETE FROM v_section WHERE id=#{id}
	</delete>

    <delete id="deleteByModuleId">
		DELETE FROM v_section WHERE module_id=#{moduleId}
	</delete>

</mapper>