<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.AdminMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.Admin">
        <result property="id" column="id"/>
        <result property="department" column="department"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="isAccountEnabled" column="is_account_enabled"/>
        <result property="isAccountLocked" column="is_account_locked"/>
        <result property="isAccountExpired" column="is_account_expired"/>
        <result property="isCredentialsExpired" column="is_credentials_edxpired"/>
        <result property="lockedDate" column="locked_date"/>
        <result property="loginDate" column="login_date"/>
        <result property="loginFailureCount" column="login_failure_count"/>
        <result property="loginIp" column="login_ip"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="findByRoleId" resultMap="baseMap">
		SELECT * from m_admin a ,
		m_admin_role ar WHERE ar.role_id = #{id} AND
		ar.admin_id = a.id LIMIT 0,500
	</select>

    <select id="findNotByRoleId" resultMap="baseMap">
		SELECT * from m_admin a
		WHERE NOT EXISTS (SELECT * from m_admin_role ar WHERE
		ar.role_id =
		#{id} AND ar.admin_id = a.id) LIMIT 0,500
	</select>

    <select id="findByUserName" resultMap="baseMap">
		SELECT *
		FROM
		m_admin
		WHERE username = #{userName}
	</select>

    <select id="findAdminByTicket" resultMap="baseMap">
		SELECT *
		FROM
		m_admin
		WHERE tgt = #{tgt}
		limit 0, 1
	</select>

    <select id="findBySearcher" resultMap="baseMap">
        select *
        from m_admin where 1=1
        <if test="searcher!=null">
            <include refid="searcher"/>
        </if>
        order by create_date desc
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearcher" resultType="int">
        select count(id)
        from m_admin where 1=1
        <if test="searcher!=null">
            <include refid="searcher"/>
        </if>
    </select>

    <sql id="searcher">
        <if test="searcher.email !=null and searcher.email!=''">
            and email =#{searcher.email}
        </if>
        <if test="searcher.name !=null and searcher.name!=''">
            and name =#{searcher.name}
        </if>
        <if test="searcher.username !=null and searcher.username!=''">
            and username =#{searcher.username}
        </if>
        <if test="searcher.department !=null and searcher.department!=''">
            and department =#{searcher.department}
        </if>
        <if test="searcher.mobile !=null and searcher.mobile!=''">
            and mobile =#{searcher.mobile}
        </if>
    </sql>

    <select id="findAll" resultMap="baseMap">
		select *
		from m_admin
		LIMIT 0,500
	</select>

    <update id="updatePassword">
		UPDATE m_admin
		SET password = #{newPassword},
		modify_date = now()
		WHERE
		id = #{id}
	</update>

    <update id="updateMyPassword">
		UPDATE m_admin
		SET password = #{newPassword},
		modify_date = now()
		WHERE
		username = #{userName}
		AND password =
		#{oldPassword}
	</update>

    <update id="updateAdminTicket">
        UPDATE m_admin
        SET tgt = #{tgt},
        <if test="loginIp != null">
            login_ip = #{loginIp},
        </if>
        modify_date = now()
        WHERE
        id = #{id}
    </update>

    <update id="updateInfo">
		UPDATE m_admin
		SET modify_date = now(),department=#{department},mobile=#{mobile},name=#{name}
		WHERE id = #{id}
	</update>

    <delete id="deleteById">
		DELETE from m_admin where id = #{id}
	</delete>

</mapper>