<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.ConsultMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.Consult">
        <result property="id" column="id"/>
        <result property="replyDate" column="reply_date"/>
        <result property="productName" column="product_name"/>
        <result property="productId" column="product_id"/>
        <result property="headPic" column="head_pic"/>
        <result property="status" column="status"/>
        <result property="question" column="question"/>
        <result property="reply" column="reply"/>
        <result property="productPic" column="product_pic"/>
        <result property="nickName" column="nick_name"/>
        <result property="memberId" column="member_id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_dodify_man"/>
        <result property="creator" column="creator"/>
        <result property="device" column="device"/>
        <result property="appVersion" column="app_version"/>
        <result property="recomend" column="recomend"/>
        <result property="recomendDate" column="recomend_date"/>
        <result property="recomendContent" column="recomend_content"/>
        <result property="inernalSn" column="inernal_sn"/>
        <result property="operation" column="operation"/>
    </resultMap>

    <select id="findBySearcher" resultMap="baseMap">
        select * from m_consult where 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
        order by create_date desc
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearcher" resultType="int">
        select COUNT(id) from m_consult where 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.productId!=null">
            AND product_id=#{searcher.productId}
        </if>
        <if test="searcher.status!=null">
            AND status=#{searcher.status}
        </if>
        <if test="searcher.startDate!=null">
            AND create_date &gt;= #{searcher.startDate}
        </if>
        <if test="searcher.endDate!=null">
            AND create_date &lt;= #{searcher.endDate}
        </if>
        <if test="searcher.device!=null and searcher.device!=''">
            AND device=#{searcher.device}
        </if>
        <if test="searcher.inernalSn!=null and searcher.inernalSn!=''">
            AND inernal_sn=#{searcher.inernalSn}
        </if>
        <if test="searcher.operation!=null and searcher.operation!=''">
            AND operation=#{searcher.operation}
        </if>
    </sql>

    <select id="countByProductId" resultType="int">
		SELECT COUNT(id) FROM
		m_consult
		WHERE product_id=#{productId} AND status=#{status}
	</select>

    <select id="countGroupByStatus" resultType="hashMap">
		SELECT
		`status`,COUNT(id) as count FROM m_consult
		GROUP BY `status` ORDER BY
		`status` ASC
	</select>

    <update id="reply">
		update m_consult set
		reply=#{reply},status=2,reply_date=now() where id=#{id}
	</update>

    <update id="updateRecomendByRecomendStatus">
        UPDATE m_consult SET recomend=#{recomend},modify_date=now()
        <if test="recomend==1">
            ,recomend_date=now()
        </if>
        <if test="recomend==0">
            ,recomend_date=create_date
        </if>
        WHERE id
        IN
        <foreach collection="ids" index="index" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteById">
		update m_consult set status=-1 where id=#{id}
	</update>

    <update id="cancelDelete">
        update m_consult set status=1 where id IN
        <foreach collection="ids" index="index" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="doRefreshHeadPic">
        UPDATE m_consult SET
        <if test="headPic!=null and headPic!=''">
            head_pic=#{headPic},
        </if>
        nick_name=#{nickName},modify_date=NOW() WHERE member_id=#{memberInfoId}
    </update>

</mapper>