<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.DiscountSettingGroupMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.DiscountSettingGroup">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
        <result property="code" column="code"/>
    </resultMap>

    <select id="findBySearch" resultMap="baseMap">
        SELECT d.*
        <include refid="joinTableSql"/>
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
        ORDER BY d.create_date DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <select id="countBySearch" resultType="int">
        SELECT count(*)
        <include refid="joinTableSql"/>
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="joinTableSql">
		FROM m_discount_group d
		WHERE 1=1
	</sql>

    <sql id="Searcher">
        <if test="searcher.type!=null">and d.type=#{searcher.type}</if>
        <if test="searcher.status!=null">and d.status=#{searcher.status}</if>
        <if test="searcher.name!=null and searcher.name!=''">and d.name=#{searcher.name}</if>
    </sql>

    <update id="updateStatusById">
		UPDATE m_discount_group
		SET modify_date = now(),status=#{status}
		WHERE id = #{id}
	</update>

    <update id="updateNameById">
		UPDATE m_discount_group
		SET modify_date = now(),name=#{name}
		WHERE id = #{id}
	</update>

    <update id="updateDate">
        UPDATE m_discount_group
        SET modify_date = now()
        <if test="beginDate!=null">,begin_date=#{beginDate}</if>
        <if test="endDate!=null">,end_date=#{endDate}</if>
        WHERE id = #{id}
    </update>

</mapper>