<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.IntegrationRuleMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.IntegrationRule">
        <result property="name" column="name"/>
        <result property="fixed" column="fixed"/>
        <result property="status" column="status"/>
        <result property="ratio" column="ratio"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
    </resultMap>

    <select id="findBySearch" resultMap="baseMap">
        SELECT *
        FROM m_member_integration_rule
        WHERE status &gt;= 0
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
        ORDER BY create_date DESC
        <if test="page != null">
            LIMIT #{page.startNumber},#{page.pageSize}
        </if>
    </select>

    <select id="countBySearch" resultType="int">
        SELECT count(*)
        FROM m_member_integration_rule
        WHERE status &gt;= 0
        <if test="searcher != null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher != null">
            <if test="searcher.name != null">
                AND name =#{searcher.name}
            </if>
            <if test="searcher.status != null">
                AND status = #{searcher.status}
            </if>
        </if>
    </sql>

    <update id="updateStatus">
		UPDATE m_member_integration_rule 
		SET status=#{status}, modify_date= now()
		WHERE id = #{id}
	</update>


    <select id="findVaildByType" resultMap="baseMap">
		SELECT *
		FROM m_member_integration_rule
		WHERE status=1 and type=#{type}
		ORDER BY create_date DESC
		LIMIT 0,1
	</select>

</mapper>