<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d2c.member.dao.LiveRoomMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.LiveRoom">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="loginCode" column="login_code"/>
        <result property="designersId" column="designers_id"/>
        <result property="couponGroupId" column="coupon_group_id"/>
        <result property="couponId" column="coupon_id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="findByMemberId" resultMap="baseMap">
		select * from m_live_room
		where member_id=#{memberId} limit 0,1
	</select>

    <select id="findBySearcher" resultMap="baseMap">
        select * from m_live_room where 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
        LIMIT #{page.startNumber},#{page.pageSize}
    </select>

    <select id="countBySearcher" resultType="int">
        select count(*) from m_live_room where 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.loginCode!=null and searcher.loginCode!=''">
            and login_code=#{searcher.loginCode}
        </if>
        <if test="searcher.memberId!=null">
            and member_id=#{searcher.memberId}
        </if>
        <if test="searcher.id!=null">
            and id=#{searcher.id}
        </if>
        <if test="searcher.designersId!= null">
            AND designers_id=#{searcher.designersId}
        </if>
    </sql>

    <delete id="doDeleteLiveRoom">
		delete from m_live_room where id=#{id}
	</delete>

    <update id="doBindCoupons">
		update m_live_room set
		coupon_id=#{couponId},last_modify_man=#{operator},modify_date=now(),coupon_group_id=#{couponGroupId}
		where id=#{id}
	</update>

</mapper>