<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.MagazinePageMapper">
    <resultMap type="com.d2c.member.model.MagazinePage" id="baseMap">
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="status" column="status"/>
        <result property="magazineId" column="magazine_id"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="mobileContent" column="mobile_content"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <select id="findByCode" resultMap="baseMap">
		SELECT * FROM m_magazine_page WHERE code=#{code} LIMIT 0,1
	</select>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT * FROM m_magazine_page WHERE 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
        ORDER BY
        <if test="searcher.orderStr!=null and searcher.orderStr!=''">
            ${searcher.orderStr},
        </if>
        sort ASC, create_date DESC
        <if test="pager != null">
            LIMIT #{pager.startNumber}, #{pager.pageSize}
        </if>
    </select>

    <select id="countBySearcher" resultType="int">
        SELECT count(*) FROM m_magazine_page WHERE 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.name!=null and searcher.name!=''">
            AND name =#{searcher.name}
        </if>
        <if test="searcher.status!=null">
            AND status =#{searcher.status}
        </if>
        <if test="searcher.magazineId!=null">
            AND magazine_id =#{searcher.magazineId}
        </if>
        <if test="searcher.code!=null and searcher.code!=''">
            AND code=#{searcher.code}
        </if>
        <if test="searcher.createDateStart!=null">
            AND create_date &gt;= #{searcher.createDateStart}
        </if>
        <if test="searcher.createDateEnd!=null">
            AND create_date &lt;= #{searcher.createDateEnd}
        </if>
        <if test="searcher.bind!=null and searcher.bind==0">
            AND magazine_id IS NULL
        </if>
    </sql>

    <update id="updateStatus">
		UPDATE m_magazine_page SET
		status=#{status},last_modify_man=#{name} WHERE
		id=#{id}
	</update>

    <update id="updateMagazineId">
		UPDATE m_magazine_page SET
		magazine_id=#{magazineId},modify_date=NOW() WHERE
		id=#{id}
	</update>

    <update id="updateSort">
		UPDATE m_magazine_page SET
		sort=#{sort} WHERE id=#{id}
	</update>

</mapper>