<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.PartnerStoreMapper">
    <resultMap type="com.d2c.member.model.PartnerStore" id="baseMap">
        <result property="memberId" column="member_id"/>
        <result property="partnerId" column="partner_id"/>
        <result property="name" column="name"/>
        <result property="pic" column="pic"/>
        <result property="intro" column="intro"/>
        <result property="background" column="background"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
    </resultMap>

    <select id="findByMemberId" resultMap="baseMap">
		SELECT * FROM m_partner_store WHERE member_id=#{memberId}
		LIMIT 0,1
	</select>

    <select id="findByPartnerId" resultMap="baseMap">
		SELECT * FROM m_partner_store WHERE partner_id=#{partnerId}
		LIMIT 0,1
	</select>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT * FROM m_partner_store WHERE 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
        ORDER BY create_date DESC
        <if test="pager != null">
            LIMIT #{pager.startNumber}, #{pager.pageSize}
        </if>
    </select>

    <select id="countBySearcher" resultType="int">
        SELECT count(*) FROM m_partner_store WHERE 1=1
        <if test="searcher!=null">
            <include refid="Searcher"/>
        </if>
    </select>

    <sql id="Searcher">
        <if test="searcher.name!=null and searcher.name!=''">
            AND name =#{searcher.name}
        </if>
        <if test="searcher.memberId!=null">
            AND member_id =#{searcher.memberId}
        </if>
        <if test="searcher.createDateStart!=null">
            AND create_date &gt;= #{searcher.createDateStart}
        </if>
        <if test="searcher.createDateEnd!=null">
            AND create_date &lt;= #{searcher.createDateEnd}
        </if>
    </sql>

</mapper>