<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.PasswordHashMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.PasswordHash">
        <id property="memberId" column="member_id"/>
        <result property="hash" column="hash"/>
        <result property="valid" column="valid"/>
        <result property="loginCode" column="login_code"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <update id="verify">
		UPDATE m_passwordhash SET valid=0 
		WHERE valid = 1 AND login_code=#{loginCode} AND hash = #{code} 
	</update>

    <update id="doInvalid">
		UPDATE m_passwordhash SET valid=0 
		WHERE valid = 1 AND login_code=#{loginCode}
	</update>

    <delete id="deleteExpireLog">
		DELETE FROM m_passwordhash WHERE create_date
		&lt;
		date_add(now(), interval -1201 second)
	</delete>

    <select id="countDangerPasswd" resultType="int">
		SELECT count(1) FROM m_passwd_danger 
		WHERE `password`=#{password}
	</select>

</mapper>