<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d2c.member.dao.TopicMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.Topic">
        <result property="title" column="title"/>
        <result property="pic" column="pic"/>
        <result property="upMarketDate" column="up_market_date"/>
        <result property="top" column="top"/>
        <result property="timing" column="timing"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="deleted" column="deleted"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <select id="countBySearcher" resultType="int">
        SELECT COUNT(*) FROM m_topic WHERE deleted=0
        <include refid="Searcher"/>
    </select>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT * FROM m_topic WHERE deleted=0
        <include refid="Searcher"/>
        ORDER BY
        <if test="searcher.sortByField!=null and searcher.sortByField!=''">
            ${searcher.sortByField} DESC,
        </if>
        create_date DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <sql id="Searcher">
        <if test="searcher.title!=null and searcher.title!=''">
            AND title =#{searcher.title}
        </if>
        <if test="searcher.beginCreateDate!=null">
            AND create_date &gt; #{searcher.beginCreateDate}
        </if>
        <if test="searcher.endCreateDate!=null">
            AND create_date &lt; #{searcher.endCreateDate}
        </if>
        <if test="searcher.beginUpMarketDate!=null">
            AND up_market_date &gt; #{searcher.beginUpMarketDate}
        </if>
        <if test="searcher.endUpMarketDate!=null">
            AND up_market_date &lt; #{searcher.endUpMarketDate}
        </if>
        <if test="searcher.status!=null">
            AND status=#{searcher.status}
        </if>
    </sql>

    <update id="delete">
		UPDATE m_topic SET deleted=1,modify_date=NOW() WHERE id=#{id}
	</update>

    <update id="updateStatus">
		UPDATE m_topic SET status=#{status},modify_date=NOW() WHERE id=#{id}
	</update>

    <update id="updateTop">
		UPDATE m_topic SET top=#{top},modify_date=NOW() WHERE id=#{id}
	</update>

    <update id="updateSort">
		UPDATE m_topic SET sort=#{sort},modify_date=NOW() WHERE id=#{id}
	</update>
</mapper>