<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d2c.member.dao.WardrobeCategoryMapper">
    <resultMap id="baseMap" type="com.d2c.member.model.WardrobeCategory">
        <result property="name" column="name"/>
        <result property="topName" column="top_name"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="lastModifyMan" column="last_modify_man"/>
    </resultMap>

    <select id="countBySearcher" resultType="int">
        SELECT COUNT(id) FROM m_wardrobe_category WHERE 1=1
        <include refid="Searcher"/>
    </select>

    <select id="findBySearcher" resultMap="baseMap">
        SELECT * FROM m_wardrobe_category WHERE 1=1
        <include refid="Searcher"/>
        ORDER BY create_date DESC
        LIMIT #{pager.startNumber},#{pager.pageSize}
    </select>

    <sql id="Searcher">
        <if test="searcher.topName!=null and searcher.topName!=''">
            AND top_name=#{searcher.topName}
        </if>
        <if test="searcher.name!=null and searcher.name!=''">
            AND name=#{searcher.name}
        </if>
    </sql>

    <select id="findByTop" resultMap="baseMap">
        SELECT * FROM m_wardrobe_category WHERE 1=1
        <if test="status!=null">
            AND `status`=#{status}
        </if>
        <if test="topName!=null and topName!=''">
            AND top_name=#{topName}
        </if>
        ORDER BY sort DESC,create_date DESC
    </select>

    <select id="findByName" resultMap="baseMap">
		SELECT * FROM m_wardrobe_category WHERE name=#{name}
	</select>

    <delete id="delete">
		DELETE FROM m_wardrobe_category WHERE id=#{id}
	</delete>
</mapper>